* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
}
.container {
  box-shadow: 0 0 10px 10px #00000021;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}
.container div {
  width: 31.25px;
  height: 31.25px;
  background-color: #000; /* temporary */
  border: 1px solid grey;
}
