* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
}
.container {
  box-shadow: 0 0 10px 10px #00000021;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  cursor: default;
}
.container div {
  /* background-color: #000; */
  border: 1px solid grey;
}
